:root {
    --white: antiquewhite;
    --white-background: rgb(243, 241, 241);
    --black: rgb(19, 18, 18);
    --grey: rgb(141, 178, 212);
    --green-text: rgb(106, 196, 106);
    
    --green-valid: green;
    --red-invalid: red;

    --aside-text-size: 65px;
    --main-header-size: 40px;
    --bottom-info-size: 20px;
    --input-label-size: 20px;

    --form-elements-margin: 15px 60px 15px 60px;
}

*, html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 50vw;
}

/* aside container*/
#aside-container {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}

#aside-img {
    width: 100%;
    height: 100%;
}

#aside-container > h2 {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    top: 50%;
    font-size: var(--aside-text-size);
    color: var(--green-text);
    background-color: rgba(0,0,0,0.4);
}

#aside-container > h6 {
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: var(--white);
    font-size: var(--bottom-info-size);
}

#aside-container > h6 > a {
    color: var(--white);
    text-decoration:underline;
}

/* header container */ 
#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 20%;
    float: right;
    background-color: var(--white-background);
}

#header-text {
    font-size: var(--main-header-size);
    color: var(--black);
}

/* main container */
#main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    height: 70%;
    float: right;
}

#main-container-header {
    font-size: var(--main-header-size);
    font-weight: 700;
    padding: 50px 0px 50px 60px;
}

/* ------------------ form container ----------------------*/
#form-container {
    width: 100%;
}

.fieldset-container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border: 0;
}

.input-container {
    margin: var(--form-elements-margin);
}

.label-area {
    font-size: var(--input-label-size);
    font-weight: 600;
}

.input-area {
    width: 350px;
    padding: 10px;
    border: 2px solid var(--white-background);
    border-radius: 5px;
    background-color: var(--white-background);
}

/* ------------------- newsletter check -------------------*/
#newsletter-container {
    display: flex;
    align-items: center;
    margin: var(--form-elements-margin);

}

#newsletter-container > label {
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
}

#newsletter {
    height: 25px;
    width: 25px;
}
/* ----------------- submit button ---------------------*/
#submission-container {
    background-color: var(--white-background);
}

#submission-container > button[type="submit"] {
    height: 50px;
    width: 300px;
    color: var(--white);
    background-color: var(--green-text);
    font-size: var(--input-label-size);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin: 30px 60px 5px 60px;
}

#submission-container > div {
    padding: 5px 60px 50px 60px;
    font-size: 25px;
}

#submission-container > div > a {
    color: green;
}

/* footer container */
#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 10%;
    float: right;
    background-color: var(--green-text);
}

#footer-text {
    font-size: var(--bottom-info-size);
}

#githubImage {
    height: 28px;
    width: 28px;
    border-radius: 25px;
    margin: auto 8px;
}

#githubImage:hover {
    animation: rotate-animation 0.5s ease-out;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* pseudo class of form elements */
#submission-container > button[type="submit"]:hover {
    transform: translateY(-2px);
}

#submission-container > button[type="submit"]:active {
    transform: translateY(0px);
}

.input-area:focus {
    outline-style: none;
    border: 2px solid var(--white-background); 
}

.input-area:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid var(--red-invalid);
}

.input-area:not(:focus):not(:placeholder-shown):valid {
    border: 2px solid var(--green-valid);
}

